@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

/* Fondo Gradiente */

.bg-main {
  background: rgb(71, 33, 131);
  background: linear-gradient(180deg, rgba(71, 33, 131, 1) 0%, rgba(75, 86, 210, 1) 100%);
}

/* Colores personalizados */

.text-custom {
  color: rgba(75, 86, 210, 1);
}

.bg-custom {
  background: rgba(75, 86, 210, 1);
}

/* Sombras personalizadas */

.drop-shadow-custom {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, .5));
}

.custom-shadow {
  filter: drop-shadow(5px 5px 10px #000);
}

.custom-shadow-2 {
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, .5));
}

/* Navbar */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.navbar {
  gap: 0.75em;
  list-style: none;
}

.nav-link a {
  font-size: 1em;
  color: white;
  font-weight: 500;
  padding: .75em;
  text-decoration: none;
}

/* Imagen redondeada */

.profile-img {
  border-radius: 50%;
}

/* Centrado absoluto */

.fix-center {
  left: calc(50% - 1.5rem);
}

/* Cambiar dirección del flex en celular */
@media screen and (max-width: 768px) {
  .flex-col-sm {
    flex-direction: column !important;
  }
}

/* Animación */

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}