@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.bg-main {
    background: rgb(71,33,131);
    background: linear-gradient(180deg, rgba(71,33,131,1) 0%, rgba(75,86,210,1) 100%);
}

.text-custom {
    color: rgba(75,86,210,1);
}

.bg-custom {
    background: rgba(75,86,210,1);
}

.drop-shadow-custom {
    filter: drop-shadow( 3px 3px 5px rgba(0, 0, 0, .5));
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.navbar {
    gap: 0.75em;
    list-style: none;
}

.nav-link a {
    font-size: 1em;
    color: white;
    font-weight: 500;
    padding: .75em;
    text-decoration: none;
}

.profile-img {
    border-radius: 50%;
}

.fix-center {
    left: calc(50% - 1.5rem);
}

@media screen and (max-width: 768px){
    .flex-col-sm {
        flex-direction: column !important;
    }
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-15px);} 
    60% {-webkit-transform: translateY(-5px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-15px);} 
    60% {transform: translateY(-5px);} 
}

.bounce { 
    animation: bounce 1s infinite;
}